
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom */
html, body, #__next {
  height: 100%;
}

body {
  background: #0f1115;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-shadow {
  box-shadow: 0 8px 20px rgba(2,6,23,0.6);
}
